.note-list{
    list-style: none;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 1.5625rem 3.125rem 1.5625rem 3.125rem;

}
.note-card{
    background-color: lightgrey;
    border-radius: 1rem;
    text-align: center;
    min-height: 2rem;
    padding: 0.5rem;
}
.make-note{
    display: flex;
}
/* MODAL */
.modal-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
}

.hide {
    display: none;
}

.modal-content {
    background: white;
    max-width: 90%;
    min-width: 80%;
    min-height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: relative;
}